
.movie-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0a0a0a;
}

.poster-and-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.movie-screen-back-button {
    align-self: flex-start;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.movie-details {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 80%;
    padding: 0.5em 1em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 2;
    align-items: left;
    text-align: left;
}

.genres-container {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 10px 0;
}

.genres-container span {
    background-color: #444;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 0.9em;
    
}

.movie-poster-container {
    flex: 1;
    margin-bottom: 20px;
}

.movie-poster {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.additional-info {
  bottom: 0;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  font-size: small;
}

.additional-info p {
    margin: 0.2em 0;
}